@model List<BokningSystem.Models.Bokning>

<h2>Bokade tider</h2>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Patientnamn</th>
            <th>Personnummer</th>
            <th>Vårdgivarens namn</th>
            <th>Yrkeskategori</th>
            <th>Anledning</th>
            <th>Bokad tid</th>
            <th>Åtgärder</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bokning in Model)
        {
            <tr>
                <td>@bokning.PatientNamn</td>
                <td>@bokning.PatientId</td>
                <td>@bokning.StaffMemberName</td>
                <td>@bokning.StaffMemberPosition</td>
                <td>@bokning.Anledning</td>
                <td>@bokning.Tid.ToString("yyyy-MM-dd HH:mm")</td>
     
            </tr>
        }
    </tbody>
</table>
